.edit_dark_window{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.645);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_dark_window .dark_box_inside{
    background: white;
    max-width: 600px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
}
